body{
    margin: 0;
    padding: 0;
    color: white;

}
/* Main container*/

.mainContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

/* Content*/

.content{
    background: #0F714F;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.content p{
    width: 90%;
    align-self: center;
}
.ufc_heading{
    text-align: center;
}
/* Logo*/

.logo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: #0F714F;

}
.logo img{
    width: 840px;
    height: 234px;
    align-self: center;
}
/* Navigation*/
.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    background: #0F714F;
    padding: 0 0 30px;

}
.navigation a {
    padding: 10px;
    text-decoration: none;
    background: #0F6271;
    border-radius: 100px;
    width: 30%;
    text-align: center;
    color: white;


}

.navigation a:active{
    color: white;
}

.navigation a:hover{
    background: #0F3171;
}
/*About*/
.hq_photos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}